<a href="https://colab.research.google.com/github/BestApisit/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
import os

path = '/content/drive/My Drive/dataviz_2021_data'

In [12]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv')  #เชื่อมไป My Drive dataviz_2021_data pm-20-jan-2021.csv
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-20-jan-2021.csv

In [13]:
a = path + '/pm-18-jan-2021.csv'  
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [15]:
data_df = pd.read_csv(covid_file_path)
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

ตรวจสอบค่าใน column

In [23]:
set(data_df['province_of_onset']) #ยุบรวมค่าที่ซ้ำกันให้ได้ 1 ค่า สมุทรสงครามสระอุซ้อน เลยขึ้นสองตัว

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

#ต่อตาราง
* ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
* ต่อในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

##ต่อแกน Y

In [19]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [24]:
KKC=data_df[data_df['province_of_onset']=='ขอนแก่น']
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

#ต่อตารางให้เป็นข้อมูล 2 จังหวัด

In [27]:
dataBKKKKC=pd.concat([BKK,KKC])
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

##ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [29]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['sex','age','nationality']]
BKK2.head()

    sex   age nationality
0  หญิง  61.0       China
1  หญิง  74.0       China
3   ชาย  68.0       China
4  หญิง  66.0       China
5  หญิง  33.0       China

In [30]:
KKC2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['age','nationality','sex']]
KKC2.head()

    age nationality   sex
0  61.0       China  หญิง
1  74.0       China  หญิง
3  68.0       China   ชาย
4  66.0       China  หญิง
5  33.0       China  หญิง

In [31]:
pd.concat([BKK2,KKC2])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
12616   ชาย  26.0    Thailand
12617  หญิง  12.0     Ireland
12618  หญิง  34.0    Pakistan
12619  หญิง  19.0    Thailand
12647   ชาย  42.0    Thailand

[5578 rows x 3 columns]

In [32]:
KKC3 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['age','nationality','risk']]
KKC3.head()

    age nationality                              risk
0  61.0       China  คนต่างชาติเดินทางมาจากต่างประเทศ
1  74.0       China  คนต่างชาติเดินทางมาจากต่างประเทศ
3  68.0       China  คนต่างชาติเดินทางมาจากต่างประเทศ
4  66.0       China  คนต่างชาติเดินทางมาจากต่างประเทศ
5  33.0       China  คนต่างชาติเดินทางมาจากต่างประเทศ

In [33]:
pd.concat([BKK2,KKC3])

        sex   age nationality                                           risk
0      หญิง  61.0       China                                            NaN
1      หญิง  74.0       China                                            NaN
3       ชาย  68.0       China                                            NaN
4      หญิง  66.0       China                                            NaN
5      หญิง  33.0       China                                            NaN
...     ...   ...         ...                                            ...
12616   NaN  26.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617   NaN  12.0     Ireland   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618   NaN  34.0    Pakistan   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619   NaN  19.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647   NaN  42.0    Thailand  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[5578 rows x 4 columns]

In [36]:
KKC4 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['age','nationality']]
KKC4.head()

    age nationality
0  61.0       China
1  74.0       China
3  68.0       China
4  66.0       China
5  33.0       China

In [37]:
pd.concat([BKK2,KKC4])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
12616   NaN  26.0    Thailand
12617   NaN  12.0     Ireland
12618   NaN  34.0    Pakistan
12619   NaN  19.0    Thailand
12647   NaN  42.0    Thailand

[5578 rows x 3 columns]

##ต่อแกน X

In [38]:
personal_data=data_df[['No.','sex','age','nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [40]:
covid_data=data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1)
covid_data.head()

         No.  ...                                         risk
8949    8950  ...                            Cluster สมุทรสาคร
6155    6156  ...                                Cluster ระยอง
12538  12539  ...                            Cluster สมุทรสาคร
4556    4557  ...                            Cluster สมุทรสาคร
10325  10326  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 5 columns]

##เอาตารางสองอันมาต่อกัน

In [41]:
personalcovid_data=personal_data.merge(covid_data) #เรียงตามตาราง personal_data
personalcovid_data.head()

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 8 columns]

In [42]:
personalcovid_data=covid_data.merge(personal_data) #เรียงตามตาราง covid_data
personalcovid_data.head()

     No. announce_date province_of_isolation  ...   sex   age nationality
0   8950      1/5/2021             สมุทรสาคร  ...  หญิง  40.0    Thailand
1   6156    12/28/2020                 ระยอง  ...  หญิง  64.0    Thailand
2  12539     1/19/2021             สมุทรสาคร  ...   ชาย  30.0       Burma
3   4557    12/20/2020             สมุทรสาคร  ...   NaN   NaN       Burma
4  10326     1/11/2021               อ่างทอง  ...  หญิง  59.0    Thailand

[5 rows x 8 columns]

#Save Table

In [44]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv'))

#Groupby

https://www.kaggle.com/crawford/python-groupby-tutorial#

In [45]:
data_df.groupby('nationality').count()

                No.  announce_date  ...  district_of_onset  risk
nationality                         ...
Afghanistan       1              1  ...                  1     1
Albania           3              3  ...                  2     3
American          1              1  ...                  1     1
American          1              1  ...                  1     1
American Samoa    1              1  ...                  1     1
...             ...            ...  ...                ...   ...
deutsch           1              1  ...                  1     1
thailand          2              2  ...                  2     2
ต่างด้าว         21             21  ...                 21    21
ไทยใหญ่           1              1  ...                  1     1
ไทใหญ่            1              1  ...                  1     1

[100 rows x 9 columns]

In [46]:
data_df.groupby('nationality').mean()

                         No.        age
nationality
Afghanistan      4346.000000  31.000000
Albania          2377.333333  40.666667
American         3862.000000  39.000000
American         3905.000000  46.000000
American Samoa  11687.000000  21.000000
...                      ...        ...
deutsch          3898.000000  55.000000
thailand         6823.000000  53.500000
ต่างด้าว         2944.952381  20.000000
ไทยใหญ่         10379.000000  30.000000
ไทใหญ่           5983.000000  33.000000

[100 rows x 2 columns]

In [50]:
data_df.groupby('nationality')['age'].min() #min ต้องเลือกคอลัมน์ด้วยถึงได้ ['age']

nationality
Afghanistan       31.0
Albania           33.0
American          39.0
American          46.0
American Samoa    21.0
                  ...
deutsch           55.0
thailand          50.0
ต่างด้าว          13.0
ไทยใหญ่           30.0
ไทใหญ่            33.0
Name: age, Length: 100, dtype: float64

In [52]:
data_df.groupby('nationality').min(' ') #min ใส่ช่องว่างก็ได้(' ')

                  No.   age
nationality
Afghanistan      4346  31.0
Albania          1480  33.0
American         3862  39.0
American         3905  46.0
American Samoa  11687  21.0
...               ...   ...
deutsch          3898  55.0
thailand         6822  50.0
ต่างด้าว         2227  13.0
ไทยใหญ่         10379  30.0
ไทใหญ่           5983  33.0

[100 rows x 2 columns]