<a href="https://colab.research.google.com/github/BestApisit/data_viz_2022/blob/main/Project_Dinosaur.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Present Project กลุ่ม

Drive :
https://drive.google.com/drive/u/0/folders/1G9XaOQ1IExr0m-UwWypqGPtGzi5HE-YL

Dashboard :
https://datastudio.google.com/u/0/reporting/e45d8bb5-92ce-4fde-9775-7d1d568d7e6e/page/p_20om7gqotc/edit

ไฟล์นำเสนอ :
https://www.canva.com/design/DAE70Gm59pY/YqkJeSjFuMuVsur61ax1_A/view?utm_content=DAE70Gm59pY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/dataviz_2021_data/Project_Dinosaur'

#data covid


* No รหัสผู้ป่วย
* Age อายุของผู้ป่วย
* Sex เพศผู้ป่วย
* Nationality สัญชาติ
* Province of isolation จังหวัดที่รักษาตัว
* Notification Date วันที่กระทรวงได้รับรายงาน
* Announce Date วันที่แถลงข่าว
* Province of onset จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย
* risk สถานที่

##ตารางข้อมูล covid ปี2020

In [4]:
data_covid2020 =  pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_covid2020

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

##ตารางข้อมูล covid ปี2021(1)

In [5]:
data_covid2021_1 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-120864.csv'))
data_covid2021_1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ตารางข้อมูล covid ปี2021(2)

In [6]:
data_covid2021_2 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-271064.csv'))
data_covid2021_2

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

##ตารางข้อมูล covid ปี2022

In [7]:
data_covid2022 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-280265.csv'))
data_covid2022

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ต่อตาราง data_covid ทั้ง 4 ตาราง

In [8]:
data_covid = pd.concat([data_covid2020, data_covid2021_1, data_covid2021_2, data_covid2022])
data_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

###เลือกเฉพาะ column ที่ต้องการ

In [9]:
covid = data_covid[['announce_date','province_of_isolation']]
covid

       announce_date province_of_isolation
0          12/1/2020         กรุงเทพมหานคร
1          17/1/2020         กรุงเทพมหานคร
2          22/1/2020                นครปฐม
3          22/1/2020         กรุงเทพมหานคร
4          24/1/2020               นนทบุรี
...              ...                   ...
433548     18/3/2022         กรุงเทพมหานคร
433549     18/3/2022         กรุงเทพมหานคร
433550     18/3/2022         กรุงเทพมหานคร
433551     18/3/2022                 สงขลา
433552     18/3/2022                 สงขลา

[3325951 rows x 2 columns]

##ตรวจสอบค่า Missing

In [10]:
covid.isnull().any() #ดูค่า missing ของแต่ละ column

announce_date            False
province_of_isolation     True
dtype: bool

###จัดรูปแบบข้อมูล

In [11]:
len(set(covid['province_of_isolation'])) #ข้อมูลในคอลัมน์ province_of_isolation ต้องมี 77 ค่า

81

In [12]:
set(covid['province_of_isolation'])

{nan,
 'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [13]:
covid.replace({'กทม':'กรุงเทพมหานคร','ขอนแก่น\xa0':'ขอนแก่น','ภููเก็ต':'ภูเก็ต'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [14]:
len(set(covid['province_of_isolation'])) #มีค่าที่ชื่อว่า ไม่ระบุ

78

In [15]:
covid.isnull().any()

announce_date            False
province_of_isolation     True
dtype: bool

In [16]:
Covid = covid.dropna() #drop ค่า Nan ออกจากตาราง

In [17]:
Covid

       announce_date province_of_isolation
0          12/1/2020         กรุงเทพมหานคร
1          17/1/2020         กรุงเทพมหานคร
2          22/1/2020                นครปฐม
3          22/1/2020         กรุงเทพมหานคร
4          24/1/2020               นนทบุรี
...              ...                   ...
433548     18/3/2022         กรุงเทพมหานคร
433549     18/3/2022         กรุงเทพมหานคร
433550     18/3/2022         กรุงเทพมหานคร
433551     18/3/2022                 สงขลา
433552     18/3/2022                 สงขลา

[3321995 rows x 2 columns]

In [42]:
import datetime
Covid = pd.DataFrame(Covid)
Covid['announce_date'] = pd.to_datetime(Covid['announce_date'], format = "%d/%m/%Y")
Covid

       announce_date province_of_isolation
0         2020-01-12         กรุงเทพมหานคร
1         2020-01-17         กรุงเทพมหานคร
2         2020-01-22                นครปฐม
3         2020-01-22         กรุงเทพมหานคร
4         2020-01-24               นนทบุรี
...              ...                   ...
433548    2022-03-18         กรุงเทพมหานคร
433549    2022-03-18         กรุงเทพมหานคร
433550    2022-03-18         กรุงเทพมหานคร
433551    2022-03-18                 สงขลา
433552    2022-03-18                 สงขลา

[3321995 rows x 2 columns]

In [43]:
gb_covid = Covid.groupby(['announce_date','province_of_isolation']).size().reset_index(name='จำนวนผู้รักษาตัว')
gb_covid

      announce_date province_of_isolation  จำนวนผู้รักษาตัว
0        2020-01-12         กรุงเทพมหานคร                 1
1        2020-01-17         กรุงเทพมหานคร                 1
2        2020-01-22         กรุงเทพมหานคร                 1
3        2020-01-22                นครปฐม                 1
4        2020-01-24               นนทบุรี                 1
...             ...                   ...               ...
27103    2022-03-18              เพชรบุรี               355
27104    2022-03-18             เพชรบูรณ์               101
27105    2022-03-18                   เลย               139
27106    2022-03-18                  แพร่                73
27107    2022-03-18            แม่ฮ่องสอน                34

[27108 rows x 3 columns]

#สร้างตารางภูมิภาค

In [18]:
data_region = {'Province':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์','ขอนแก่น','เลย','มหาสารคาม','มุกดาหาร','นครพนม','นครราชสีมา','หนองบัวลำภู','หนองคาย','ร้อยเอ็ด','สกลนคร','ศรีสะเกษ','สุรินทร์','อุบลราชธานี','อุดรธานี','ยโสธร','เชียงใหม่','เชียงราย','ลำปาง','ลำพูน','แม่ฮ่องสอน','น่าน','พะเยา','แพร่','อุตรดิตถ์','ตาก','สุโขทัย','พิษณุโลก','พิจิตร','กำแพงเพชร','เพชรบูรณ์','นครสวรรค์','อุทัยธานี','อ่างทอง','ชัยนาท','พระนครศรีอยุธยา','กรุงเทพมหานคร','ลพบุรี','นครปฐม','นนทบุรี','ปทุมธานี','สมุทรปราการ','สมุทรสาคร','สมุทรสงคราม','สระบุรี','สิงห์บุรี','สุพรรณบุรี','นครนายก','ฉะเชิงเทรา','จันทบุรี','ชลบุรี','ปราจีนบุรี','ระยอง','สระแก้ว','ตราด','กาญจนบุรี','ราชบุรี','เพชรบุรี','ประจวบคีรีขันธ์','ชุมพร','นครศรีธรรมราช','นราธิวาส','ปัตตานี','พัทลุง','สงขลา','สุราษฎร์ธานี','ยะลา','กระบี่','พังงา','ภูเก็ต','ระนอง','สตูล','ตรัง'],
             '6 ภูมิภาค':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
}

In [19]:
data_region = pd.DataFrame.from_dict(data_region)
data_region

      Province           6 ภูมิภาค
0   อำนาจเจริญ  ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ตะวันออกเฉียงเหนือ
..         ...                 ...
72       พังงา                 ใต้
73      ภูเก็ต                 ใต้
74       ระนอง                 ใต้
75        สตูล                 ใต้
76        ตรัง                 ใต้

[77 rows x 2 columns]

##รวมตาราง covid กับตาราง ภูมิภาค
covid กับ data_region

In [44]:
covid_region = gb_covid.merge(data_region,how='left',left_on='province_of_isolation',right_on = 'Province') 
covid_region

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค
0,2020-01-12,กรุงเทพมหานคร,1,กรุงเทพมหานคร,กลาง
1,2020-01-17,กรุงเทพมหานคร,1,กรุงเทพมหานคร,กลาง
2,2020-01-22,กรุงเทพมหานคร,1,กรุงเทพมหานคร,กลาง
3,2020-01-22,นครปฐม,1,นครปฐม,กลาง
4,2020-01-24,นนทบุรี,1,นนทบุรี,กลาง
...,...,...,...,...,...
27103,2022-03-18,เพชรบุรี,355,เพชรบุรี,ตะวันตก
27104,2022-03-18,เพชรบูรณ์,101,เพชรบูรณ์,กลาง
27105,2022-03-18,เลย,139,เลย,ตะวันออกเฉียงเหนือ
27106,2022-03-18,แพร่,73,แพร่,เหนือ
27107,2022-03-18,แม่ฮ่องสอน,34,แม่ฮ่องสอน,เหนือ

##ตรวจสอบค่า Missing

In [45]:
covid_region.isnull().any()

announce_date            False
province_of_isolation    False
จำนวนผู้รักษาตัว         False
Province                 False
6 ภูมิภาค                False
dtype: bool

#นำเข้าข้อมูลที่เลือกเอง
การเดินทางของประชาชนในช่วงการแพร่ระบาดของเชื้อไวรัส COVID-19
ที่มา : https://datagov.mot.go.th/dataset/covid-19 (กระทรวงคมนาคม)

In [22]:
passenger =  pd.read_csv(os.path.join(path,'passenger-covid19.csv'))
passenger

,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน),รถโดยสารประจำทางใน กทม. และปริมณฑล (ขสมก. และ รถร่วม) (คน),รถโดยสารประจำทางระหว่าง กทม. - ตจว. \n(บขส. และ รถร่วม) (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน).1,...,รถไฟระหว่างเมือง,เรือด่วนเจ้าพระยา,เรือคลองแสนแสบ,เรือข้ามฟากเจ้าพระยา,เรือไฟฟ้าเจ้าพระยา,เรือในภูมิภาค,รวมท่าอากาศยานใน กทม.,ท่าอากาศยานสุวรรณภูมิ,ท่าอากาศยานดอนเมือง,ท่าอากาศยานภูมิภาค
0,1/1/2020,"1,483,255","885,353","272,578","102,678","2,743,864","2,310,406","1,249,925","233,330","2,310,406",...,"115,975","29,518","20,420",0,0,"222,640","45,774","14,674","31,100","56,904"
1,2/1/2020,"1,705,026","1,269,207","291,990","104,613","3,370,836","2,538,456","1,452,127","252,899","2,538,456",...,"103,113","30,794","35,430",0,0,"225,766","45,045","14,974","30,071","59,568"
2,3/1/2020,"1,752,572","1,366,412","301,260","100,575","3,520,819","2,649,091","1,526,841","225,731","2,649,091",...,"98,657","31,036","32,540",0,0,"237,684","41,894","13,036","28,858","58,681"
3,4/1/2020,"1,576,146","1,027,281","271,171","100,852","2,975,450","2,515,920","1,359,227","216,919","2,515,920",...,"94,876","20,236","20,850",0,0,"230,085","40,186","12,163","28,023","60,666"
4,5/1/2020,"1,565,134","915,425","254,176","100,784","2,835,519","2,542,483","1,330,523","234,611","2,542,483",...,"98,259","17,066","20,030",0,0,"217,080","40,161","12,468","27,693","60,623"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,16/3/2022,"641,639","685,639","81,496","50,761","1,459,535","2,037,089","608,499","27,649","2,037,089",...,"28,775","5,694","9,519","13,838",628,"51,817","23,360","11,176","12,184","27,401"
806,17/3/2022,"657,339","676,376","93,516","53,177","1,480,408","2,127,054","624,531","27,910","2,127,054",...,"29,467","5,608","9,502","13,633",583,"64,190","26,329","12,579","13,750","26,848"
807,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484","2,217,820","610,545","30,125","2,217,820",...,"32,972","5,737","9,477","13,783",575,"75,229","29,725","14,085","15,640","33,505"
808,19/3/2022,"555,727","580,102","93,046","58,347","1,287,222","2,049,811","521,037","29,533","2,049,811",...,"28,930","1,976","3,527","12,742",506,"74,295","27,474","13,272","14,202","30,873"
809,20/3/2022,"495,000","455,593","84,072","64,442","1,099,107","1,863,234","459,263","30,534","1,863,234",...,"32,080",0,0,"12,375",358,"71,339","28,736","13,659","15,077","35,706"

In [46]:
import datetime
passenger = pd.DataFrame(passenger)
passenger['วันที่'] = pd.to_datetime(passenger['วันที่'], format = "%d/%m/%Y")
passenger

,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน),รถโดยสารประจำทางใน กทม. และปริมณฑล (ขสมก. และ รถร่วม) (คน),รถโดยสารประจำทางระหว่าง กทม. - ตจว. \n(บขส. และ รถร่วม) (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน).1,...,รถไฟระหว่างเมือง,เรือด่วนเจ้าพระยา,เรือคลองแสนแสบ,เรือข้ามฟากเจ้าพระยา,เรือไฟฟ้าเจ้าพระยา,เรือในภูมิภาค,รวมท่าอากาศยานใน กทม.,ท่าอากาศยานสุวรรณภูมิ,ท่าอากาศยานดอนเมือง,ท่าอากาศยานภูมิภาค
0,2020-01-01,"1,483,255","885,353","272,578","102,678","2,743,864","2,310,406","1,249,925","233,330","2,310,406",...,"115,975","29,518","20,420",0,0,"222,640","45,774","14,674","31,100","56,904"
1,2020-01-02,"1,705,026","1,269,207","291,990","104,613","3,370,836","2,538,456","1,452,127","252,899","2,538,456",...,"103,113","30,794","35,430",0,0,"225,766","45,045","14,974","30,071","59,568"
2,2020-01-03,"1,752,572","1,366,412","301,260","100,575","3,520,819","2,649,091","1,526,841","225,731","2,649,091",...,"98,657","31,036","32,540",0,0,"237,684","41,894","13,036","28,858","58,681"
3,2020-01-04,"1,576,146","1,027,281","271,171","100,852","2,975,450","2,515,920","1,359,227","216,919","2,515,920",...,"94,876","20,236","20,850",0,0,"230,085","40,186","12,163","28,023","60,666"
4,2020-01-05,"1,565,134","915,425","254,176","100,784","2,835,519","2,542,483","1,330,523","234,611","2,542,483",...,"98,259","17,066","20,030",0,0,"217,080","40,161","12,468","27,693","60,623"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,2022-03-16,"641,639","685,639","81,496","50,761","1,459,535","2,037,089","608,499","27,649","2,037,089",...,"28,775","5,694","9,519","13,838",628,"51,817","23,360","11,176","12,184","27,401"
806,2022-03-17,"657,339","676,376","93,516","53,177","1,480,408","2,127,054","624,531","27,910","2,127,054",...,"29,467","5,608","9,502","13,633",583,"64,190","26,329","12,579","13,750","26,848"
807,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484","2,217,820","610,545","30,125","2,217,820",...,"32,972","5,737","9,477","13,783",575,"75,229","29,725","14,085","15,640","33,505"
808,2022-03-19,"555,727","580,102","93,046","58,347","1,287,222","2,049,811","521,037","29,533","2,049,811",...,"28,930","1,976","3,527","12,742",506,"74,295","27,474","13,272","14,202","30,873"
809,2022-03-20,"495,000","455,593","84,072","64,442","1,099,107","1,863,234","459,263","30,534","1,863,234",...,"32,080",0,0,"12,375",358,"71,339","28,736","13,659","15,077","35,706"

In [47]:
import datetime
passenger = pd.DataFrame(passenger)
passenger['วันที่'] = pd.to_datetime(passenger['วันที่'], format = "%d/%m/%Y")
passenger

,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน),รถโดยสารประจำทางใน กทม. และปริมณฑล (ขสมก. และ รถร่วม) (คน),รถโดยสารประจำทางระหว่าง กทม. - ตจว. \n(บขส. และ รถร่วม) (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน).1,...,รถไฟระหว่างเมือง,เรือด่วนเจ้าพระยา,เรือคลองแสนแสบ,เรือข้ามฟากเจ้าพระยา,เรือไฟฟ้าเจ้าพระยา,เรือในภูมิภาค,รวมท่าอากาศยานใน กทม.,ท่าอากาศยานสุวรรณภูมิ,ท่าอากาศยานดอนเมือง,ท่าอากาศยานภูมิภาค
0,2020-01-01,"1,483,255","885,353","272,578","102,678","2,743,864","2,310,406","1,249,925","233,330","2,310,406",...,"115,975","29,518","20,420",0,0,"222,640","45,774","14,674","31,100","56,904"
1,2020-01-02,"1,705,026","1,269,207","291,990","104,613","3,370,836","2,538,456","1,452,127","252,899","2,538,456",...,"103,113","30,794","35,430",0,0,"225,766","45,045","14,974","30,071","59,568"
2,2020-01-03,"1,752,572","1,366,412","301,260","100,575","3,520,819","2,649,091","1,526,841","225,731","2,649,091",...,"98,657","31,036","32,540",0,0,"237,684","41,894","13,036","28,858","58,681"
3,2020-01-04,"1,576,146","1,027,281","271,171","100,852","2,975,450","2,515,920","1,359,227","216,919","2,515,920",...,"94,876","20,236","20,850",0,0,"230,085","40,186","12,163","28,023","60,666"
4,2020-01-05,"1,565,134","915,425","254,176","100,784","2,835,519","2,542,483","1,330,523","234,611","2,542,483",...,"98,259","17,066","20,030",0,0,"217,080","40,161","12,468","27,693","60,623"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,2022-03-16,"641,639","685,639","81,496","50,761","1,459,535","2,037,089","608,499","27,649","2,037,089",...,"28,775","5,694","9,519","13,838",628,"51,817","23,360","11,176","12,184","27,401"
806,2022-03-17,"657,339","676,376","93,516","53,177","1,480,408","2,127,054","624,531","27,910","2,127,054",...,"29,467","5,608","9,502","13,633",583,"64,190","26,329","12,579","13,750","26,848"
807,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484","2,217,820","610,545","30,125","2,217,820",...,"32,972","5,737","9,477","13,783",575,"75,229","29,725","14,085","15,640","33,505"
808,2022-03-19,"555,727","580,102","93,046","58,347","1,287,222","2,049,811","521,037","29,533","2,049,811",...,"28,930","1,976","3,527","12,742",506,"74,295","27,474","13,272","14,202","30,873"
809,2022-03-20,"495,000","455,593","84,072","64,442","1,099,107","1,863,234","459,263","30,534","1,863,234",...,"32,080",0,0,"12,375",358,"71,339","28,736","13,659","15,077","35,706"

###เลือกเฉพาะ column ที่ต้องการ

In [48]:
Passenger = passenger[['วันที่','ทางถนน (คน)','ทางราง (คน)','ทางน้ำ (คน)', 'ทางอากาศ* (คน)', 'รวมประชาชนเดินทาง (คน)']]
Passenger

,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,2020-01-01,"1,483,255","885,353","272,578","102,678","2,743,864"
1,2020-01-02,"1,705,026","1,269,207","291,990","104,613","3,370,836"
2,2020-01-03,"1,752,572","1,366,412","301,260","100,575","3,520,819"
3,2020-01-04,"1,576,146","1,027,281","271,171","100,852","2,975,450"
4,2020-01-05,"1,565,134","915,425","254,176","100,784","2,835,519"
...,...,...,...,...,...,...
805,2022-03-16,"641,639","685,639","81,496","50,761","1,459,535"
806,2022-03-17,"657,339","676,376","93,516","53,177","1,480,408"
807,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"
808,2022-03-19,"555,727","580,102","93,046","58,347","1,287,222"
809,2022-03-20,"495,000","455,593","84,072","64,442","1,099,107"

##ตรวจสอบค่า Missing

In [49]:
Passenger.isnull().any() #ดูค่า missing ของแต่ละ column

วันที่                    False
ทางถนน (คน)               False
ทางราง (คน)               False
ทางน้ำ (คน)               False
ทางอากาศ* (คน)            False
รวมประชาชนเดินทาง (คน)    False
dtype: bool

##รวมตาราง covid_region กับตาราง Passenger

In [50]:
all_data = covid_region.merge(Passenger,how='left',left_on='announce_date',right_on='วันที่')
all_data

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,2020-01-12,กรุงเทพมหานคร,1,กรุงเทพมหานคร,กลาง,2020-01-12,"1,511,236","988,051","246,025","99,755","2,845,067"
1,2020-01-17,กรุงเทพมหานคร,1,กรุงเทพมหานคร,กลาง,2020-01-17,"1,732,040","1,599,647","281,743","106,000","3,719,430"
2,2020-01-22,กรุงเทพมหานคร,1,กรุงเทพมหานคร,กลาง,2020-01-22,"1,678,182","1,488,097","267,105","101,432","3,534,816"
3,2020-01-22,นครปฐม,1,นครปฐม,กลาง,2020-01-22,"1,678,182","1,488,097","267,105","101,432","3,534,816"
4,2020-01-24,นนทบุรี,1,นนทบุรี,กลาง,2020-01-24,"1,658,692","1,527,329","281,291","103,697","3,571,009"
...,...,...,...,...,...,...,...,...,...,...,...
27103,2022-03-18,เพชรบุรี,355,เพชรบุรี,ตะวันตก,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"
27104,2022-03-18,เพชรบูรณ์,101,เพชรบูรณ์,กลาง,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"
27105,2022-03-18,เลย,139,เลย,ตะวันออกเฉียงเหนือ,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"
27106,2022-03-18,แพร่,73,แพร่,เหนือ,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"
27107,2022-03-18,แม่ฮ่องสอน,34,แม่ฮ่องสอน,เหนือ,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"

##ตรวจสอบค่า Missing

In [51]:
all_data.isnull().any() #ดูค่า missing ของแต่ละ column

announce_date             False
province_of_isolation     False
จำนวนผู้รักษาตัว          False
Province                  False
6 ภูมิภาค                 False
วันที่                    False
ทางถนน (คน)               False
ทางราง (คน)               False
ทางน้ำ (คน)               False
ทางอากาศ* (คน)            False
รวมประชาชนเดินทาง (คน)    False
dtype: bool

##แบ่งข้อมูลไปใช้งาน

In [52]:
covid2020 = all_data[(all_data['announce_date'] >= '2020-01-12') & (all_data['announce_date'] <= '2020-12-31')] #ข้อมูลปี 2020
covid2020

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,2020-01-12,กรุงเทพมหานคร,1,กรุงเทพมหานคร,กลาง,2020-01-12,"1,511,236","988,051","246,025","99,755","2,845,067"
1,2020-01-17,กรุงเทพมหานคร,1,กรุงเทพมหานคร,กลาง,2020-01-17,"1,732,040","1,599,647","281,743","106,000","3,719,430"
2,2020-01-22,กรุงเทพมหานคร,1,กรุงเทพมหานคร,กลาง,2020-01-22,"1,678,182","1,488,097","267,105","101,432","3,534,816"
3,2020-01-22,นครปฐม,1,นครปฐม,กลาง,2020-01-22,"1,678,182","1,488,097","267,105","101,432","3,534,816"
4,2020-01-24,นนทบุรี,1,นนทบุรี,กลาง,2020-01-24,"1,658,692","1,527,329","281,291","103,697","3,571,009"
...,...,...,...,...,...,...,...,...,...,...,...
1257,2020-12-31,ราชบุรี,1,ราชบุรี,ตะวันตก,2020-12-31,"657,630","397,023","142,755","59,777","1,257,185"
1258,2020-12-31,สมุทรปราการ,8,สมุทรปราการ,กลาง,2020-12-31,"657,630","397,023","142,755","59,777","1,257,185"
1259,2020-12-31,สมุทรสงคราม,1,สมุทรสงคราม,กลาง,2020-12-31,"657,630","397,023","142,755","59,777","1,257,185"
1260,2020-12-31,สมุทรสาคร,28,สมุทรสาคร,กลาง,2020-12-31,"657,630","397,023","142,755","59,777","1,257,185"
1261,2020-12-31,หนองคาย,1,หนองคาย,ตะวันออกเฉียงเหนือ,2020-12-31,"657,630","397,023","142,755","59,777","1,257,185"

In [53]:
covid2021_1 = all_data[(all_data['announce_date'] >= '2021-01-01') & (all_data['announce_date'] <= '2021-03-31')] #ข้อมูลไตรมาสแรกของปี 2021
covid2021_1

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
1262,2021-01-01,กรุงเทพมหานคร,26,กรุงเทพมหานคร,กลาง,2021-01-01,"629,297","331,738","132,198","53,527","1,146,760"
1263,2021-01-01,จันทบุรี,29,จันทบุรี,ตะวันออก,2021-01-01,"629,297","331,738","132,198","53,527","1,146,760"
1264,2021-01-01,ฉะเชิงเทรา,1,ฉะเชิงเทรา,ตะวันออก,2021-01-01,"629,297","331,738","132,198","53,527","1,146,760"
1265,2021-01-01,ชลบุรี,51,ชลบุรี,ตะวันออก,2021-01-01,"629,297","331,738","132,198","53,527","1,146,760"
1266,2021-01-01,ตราด,7,ตราด,ตะวันออก,2021-01-01,"629,297","331,738","132,198","53,527","1,146,760"
...,...,...,...,...,...,...,...,...,...,...,...
2145,2021-03-31,ชลบุรี,4,ชลบุรี,ตะวันออก,2021-03-31,"982,425","1,039,196","110,500","57,980","2,190,101"
2146,2021-03-31,ตาก,2,ตาก,ตะวันตก,2021-03-31,"982,425","1,039,196","110,500","57,980","2,190,101"
2147,2021-03-31,นราธิวาส,1,นราธิวาส,ใต้,2021-03-31,"982,425","1,039,196","110,500","57,980","2,190,101"
2148,2021-03-31,สมุทรปราการ,5,สมุทรปราการ,กลาง,2021-03-31,"982,425","1,039,196","110,500","57,980","2,190,101"
2149,2021-03-31,สมุทรสาคร,11,สมุทรสาคร,กลาง,2021-03-31,"982,425","1,039,196","110,500","57,980","2,190,101"

In [54]:
covid2021_2 = all_data[(all_data['announce_date'] >= '2021-04-01') & (all_data['announce_date'] <= '2021-06-30')] #ข้อมูลไตรมาสสองของปี 2021
covid2021_2

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
2150,2021-04-01,กรุงเทพมหานคร,11,กรุงเทพมหานคร,กลาง,2021-04-01,"1,002,983","1,037,660","102,982","70,353","2,213,978"
2151,2021-04-01,ชลบุรี,1,ชลบุรี,ตะวันออก,2021-04-01,"1,002,983","1,037,660","102,982","70,353","2,213,978"
2152,2021-04-01,สมุทรปราการ,3,สมุทรปราการ,กลาง,2021-04-01,"1,002,983","1,037,660","102,982","70,353","2,213,978"
2153,2021-04-01,สมุทรสาคร,11,สมุทรสาคร,กลาง,2021-04-01,"1,002,983","1,037,660","102,982","70,353","2,213,978"
2154,2021-04-02,กรุงเทพมหานคร,24,กรุงเทพมหานคร,กลาง,2021-04-02,"1,023,210","1,109,747","99,664","77,529","2,310,150"
...,...,...,...,...,...,...,...,...,...,...,...
7280,2021-06-30,เชียงราย,28,เชียงราย,เหนือ,2021-06-30,"572,766","462,742","57,948","14,543","1,107,999"
7281,2021-06-30,เชียงใหม่,4,เชียงใหม่,เหนือ,2021-06-30,"572,766","462,742","57,948","14,543","1,107,999"
7282,2021-06-30,เพชรบุรี,75,เพชรบุรี,ตะวันตก,2021-06-30,"572,766","462,742","57,948","14,543","1,107,999"
7283,2021-06-30,เพชรบูรณ์,15,เพชรบูรณ์,กลาง,2021-06-30,"572,766","462,742","57,948","14,543","1,107,999"
7284,2021-06-30,เลย,8,เลย,ตะวันออกเฉียงเหนือ,2021-06-30,"572,766","462,742","57,948","14,543","1,107,999"

In [55]:
covid2021_3 = all_data[(all_data['announce_date'] >= '2021-07-01') & (all_data['announce_date'] <= '2021-09-30')] #ข้อมูลไตรมาสสามของปี 2021
covid2021_3

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
7285,2021-07-01,กระบี่,2,กระบี่,ใต้,2021-07-01,"574,401","447,352","50,212","13,123","1,085,088"
7286,2021-07-01,กรุงเทพมหานคร,1974,กรุงเทพมหานคร,กลาง,2021-07-01,"574,401","447,352","50,212","13,123","1,085,088"
7287,2021-07-01,กาญจนบุรี,19,กาญจนบุรี,ตะวันตก,2021-07-01,"574,401","447,352","50,212","13,123","1,085,088"
7288,2021-07-01,กาฬสินธุ์,10,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,2021-07-01,"574,401","447,352","50,212","13,123","1,085,088"
7289,2021-07-01,กำแพงเพชร,3,กำแพงเพชร,กลาง,2021-07-01,"574,401","447,352","50,212","13,123","1,085,088"
...,...,...,...,...,...,...,...,...,...,...,...
14313,2021-09-30,เพชรบุรี,115,เพชรบุรี,ตะวันตก,2021-09-30,"470,121","436,644","50,612","9,821","967,198"
14314,2021-09-30,เพชรบูรณ์,61,เพชรบูรณ์,กลาง,2021-09-30,"470,121","436,644","50,612","9,821","967,198"
14315,2021-09-30,เลย,21,เลย,ตะวันออกเฉียงเหนือ,2021-09-30,"470,121","436,644","50,612","9,821","967,198"
14316,2021-09-30,แพร่,16,แพร่,เหนือ,2021-09-30,"470,121","436,644","50,612","9,821","967,198"
14317,2021-09-30,แม่ฮ่องสอน,30,แม่ฮ่องสอน,เหนือ,2021-09-30,"470,121","436,644","50,612","9,821","967,198"

In [56]:
covid2021_4 = all_data[(all_data['announce_date'] >= '2021-10-01') & (all_data['announce_date'] <= '2021-12-31')] #ข้อมูลไตรมาสสี่ของปี 2021
covid2021_4

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
14318,2021-10-01,กระบี่,103,กระบี่,ใต้,2021-10-01,"542,326","485,393","51,797","19,117","1,098,633"
14319,2021-10-01,กรุงเทพมหานคร,1434,กรุงเทพมหานคร,กลาง,2021-10-01,"542,326","485,393","51,797","19,117","1,098,633"
14320,2021-10-01,กาญจนบุรี,177,กาญจนบุรี,ตะวันตก,2021-10-01,"542,326","485,393","51,797","19,117","1,098,633"
14321,2021-10-01,กาฬสินธุ์,14,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,2021-10-01,"542,326","485,393","51,797","19,117","1,098,633"
14322,2021-10-01,กำแพงเพชร,15,กำแพงเพชร,กลาง,2021-10-01,"542,326","485,393","51,797","19,117","1,098,633"
...,...,...,...,...,...,...,...,...,...,...,...
21187,2021-12-31,เพชรบุรี,17,เพชรบุรี,ตะวันตก,2021-12-31,"563,961","536,918","162,259","60,894","1,324,032"
21188,2021-12-31,เพชรบูรณ์,46,เพชรบูรณ์,กลาง,2021-12-31,"563,961","536,918","162,259","60,894","1,324,032"
21189,2021-12-31,เลย,8,เลย,ตะวันออกเฉียงเหนือ,2021-12-31,"563,961","536,918","162,259","60,894","1,324,032"
21190,2021-12-31,แพร่,2,แพร่,เหนือ,2021-12-31,"563,961","536,918","162,259","60,894","1,324,032"
21191,2021-12-31,แม่ฮ่องสอน,22,แม่ฮ่องสอน,เหนือ,2021-12-31,"563,961","536,918","162,259","60,894","1,324,032"

In [57]:
covid2022_1 = all_data[(all_data['announce_date'] >= '2022-01-01') & (all_data['announce_date'] <= '2022-01-31')] #ข้อมูลเดือนมกราคมปี 2022
covid2022_1

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
21192,2022-01-01,กระบี่,35,กระบี่,ใต้,2022-01-01,"515,514","411,352","151,399","56,701","1,134,966"
21193,2022-01-01,กรุงเทพมหานคร,454,กรุงเทพมหานคร,กลาง,2022-01-01,"515,514","411,352","151,399","56,701","1,134,966"
21194,2022-01-01,กาญจนบุรี,28,กาญจนบุรี,ตะวันตก,2022-01-01,"515,514","411,352","151,399","56,701","1,134,966"
21195,2022-01-01,กาฬสินธุ์,55,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,2022-01-01,"515,514","411,352","151,399","56,701","1,134,966"
21196,2022-01-01,กำแพงเพชร,7,กำแพงเพชร,กลาง,2022-01-01,"515,514","411,352","151,399","56,701","1,134,966"
...,...,...,...,...,...,...,...,...,...,...,...
23566,2022-01-31,เพชรบุรี,74,เพชรบุรี,ตะวันตก,2022-01-31,"699,417","700,021","96,378","52,016","1,547,832"
23567,2022-01-31,เพชรบูรณ์,46,เพชรบูรณ์,กลาง,2022-01-31,"699,417","700,021","96,378","52,016","1,547,832"
23568,2022-01-31,เลย,91,เลย,ตะวันออกเฉียงเหนือ,2022-01-31,"699,417","700,021","96,378","52,016","1,547,832"
23569,2022-01-31,แพร่,24,แพร่,เหนือ,2022-01-31,"699,417","700,021","96,378","52,016","1,547,832"
23570,2022-01-31,แม่ฮ่องสอน,6,แม่ฮ่องสอน,เหนือ,2022-01-31,"699,417","700,021","96,378","52,016","1,547,832"

In [58]:
covid2022_2 = all_data[(all_data['announce_date'] >= '2022-02-01') & (all_data['announce_date'] <= '2022-02-28')] #ข้อมูลเดือนกุมภาพันธ์ปี 2022
covid2022_2

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
23571,2022-02-01,กระบี่,42,กระบี่,ใต้,2022-02-01,"714,901","745,660","99,446","38,761","1,598,768"
23572,2022-02-01,กรุงเทพมหานคร,1269,กรุงเทพมหานคร,กลาง,2022-02-01,"714,901","745,660","99,446","38,761","1,598,768"
23573,2022-02-01,กาญจนบุรี,95,กาญจนบุรี,ตะวันตก,2022-02-01,"714,901","745,660","99,446","38,761","1,598,768"
23574,2022-02-01,กาฬสินธุ์,34,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,2022-02-01,"714,901","745,660","99,446","38,761","1,598,768"
23575,2022-02-01,กำแพงเพชร,7,กำแพงเพชร,กลาง,2022-02-01,"714,901","745,660","99,446","38,761","1,598,768"
...,...,...,...,...,...,...,...,...,...,...,...
25720,2022-02-28,เพชรบุรี,200,เพชรบุรี,ตะวันตก,2022-02-28,"669,958","687,896","85,381","51,364","1,494,599"
25721,2022-02-28,เพชรบูรณ์,61,เพชรบูรณ์,กลาง,2022-02-28,"669,958","687,896","85,381","51,364","1,494,599"
25722,2022-02-28,เลย,99,เลย,ตะวันออกเฉียงเหนือ,2022-02-28,"669,958","687,896","85,381","51,364","1,494,599"
25723,2022-02-28,แพร่,77,แพร่,เหนือ,2022-02-28,"669,958","687,896","85,381","51,364","1,494,599"
25724,2022-02-28,แม่ฮ่องสอน,11,แม่ฮ่องสอน,เหนือ,2022-02-28,"669,958","687,896","85,381","51,364","1,494,599"

In [59]:
covid2022_3 = all_data[all_data['announce_date'] >= '2022-03-01'] #ข้อมูลวันที่ 1- 18 เดือนมีนาคม ปี 2022
covid2022_3

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
25725,2022-03-01,กระบี่,104,กระบี่,ใต้,2022-03-01,"666,637","696,843","83,386","41,226","1,488,092"
25726,2022-03-01,กรุงเทพมหานคร,2802,กรุงเทพมหานคร,กลาง,2022-03-01,"666,637","696,843","83,386","41,226","1,488,092"
25727,2022-03-01,กาญจนบุรี,189,กาญจนบุรี,ตะวันตก,2022-03-01,"666,637","696,843","83,386","41,226","1,488,092"
25728,2022-03-01,กาฬสินธุ์,142,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,2022-03-01,"666,637","696,843","83,386","41,226","1,488,092"
25729,2022-03-01,กำแพงเพชร,224,กำแพงเพชร,กลาง,2022-03-01,"666,637","696,843","83,386","41,226","1,488,092"
...,...,...,...,...,...,...,...,...,...,...,...
27103,2022-03-18,เพชรบุรี,355,เพชรบุรี,ตะวันตก,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"
27104,2022-03-18,เพชรบูรณ์,101,เพชรบูรณ์,กลาง,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"
27105,2022-03-18,เลย,139,เลย,ตะวันออกเฉียงเหนือ,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"
27106,2022-03-18,แพร่,73,แพร่,เหนือ,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"
27107,2022-03-18,แม่ฮ่องสอน,34,แม่ฮ่องสอน,เหนือ,2022-03-18,"646,203","729,250","104,801","63,230","1,543,484"

##เลือกทำข้อมูลวันที่ 29 ธันวาคม 2021 - 4 มกราคม 2022 และ 29 ธันวาคม 2020 - 4 มกราคม 2021
ซึ่งเป็นข้อมูล 7 วันอันตรายช่วงปีใหม่

In [60]:
datacovid1 = all_data[(all_data['announce_date'] >= '2020-12-29') & (all_data['announce_date'] <= '2021-01-04')]
datacovid1

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
1215,2020-12-29,กรุงเทพมหานคร,21,กรุงเทพมหานคร,กลาง,2020-12-29,"908,717","703,492","153,292","66,373","1,831,874"
1216,2020-12-29,จันทบุรี,3,จันทบุรี,ตะวันออก,2020-12-29,"908,717","703,492","153,292","66,373","1,831,874"
1217,2020-12-29,ชลบุรี,32,ชลบุรี,ตะวันออก,2020-12-29,"908,717","703,492","153,292","66,373","1,831,874"
1218,2020-12-29,นครปฐม,15,นครปฐม,กลาง,2020-12-29,"908,717","703,492","153,292","66,373","1,831,874"
1219,2020-12-29,นครราชสีมา,1,นครราชสีมา,ตะวันออกเฉียงเหนือ,2020-12-29,"908,717","703,492","153,292","66,373","1,831,874"
...,...,...,...,...,...,...,...,...,...,...,...
1321,2021-01-04,สมุทรสงคราม,2,สมุทรสงคราม,กลาง,2021-01-04,"794,489","652,898","129,187","51,210","1,627,784"
1322,2021-01-04,สมุทรสาคร,541,สมุทรสาคร,กลาง,2021-01-04,"794,489","652,898","129,187","51,210","1,627,784"
1323,2021-01-04,สุราษฎร์ธานี,1,สุราษฎร์ธานี,ใต้,2021-01-04,"794,489","652,898","129,187","51,210","1,627,784"
1324,2021-01-04,อ่างทอง,12,อ่างทอง,กลาง,2021-01-04,"794,489","652,898","129,187","51,210","1,627,784"
1325,2021-01-04,เพชรบุรี,1,เพชรบุรี,ตะวันตก,2021-01-04,"794,489","652,898","129,187","51,210","1,627,784"

In [61]:
datacovid2 = all_data[(all_data['announce_date'] >= '2021-12-29') & (all_data['announce_date'] <= '2022-01-04')]
datacovid2

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
20967,2021-12-29,กระบี่,37,กระบี่,ใต้,2021-12-29,"754,823","708,014","131,275","65,842","1,659,954"
20968,2021-12-29,กรุงเทพมหานคร,407,กรุงเทพมหานคร,กลาง,2021-12-29,"754,823","708,014","131,275","65,842","1,659,954"
20969,2021-12-29,กาญจนบุรี,28,กาญจนบุรี,ตะวันตก,2021-12-29,"754,823","708,014","131,275","65,842","1,659,954"
20970,2021-12-29,กาฬสินธุ์,65,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,2021-12-29,"754,823","708,014","131,275","65,842","1,659,954"
20971,2021-12-29,กำแพงเพชร,12,กำแพงเพชร,กลาง,2021-12-29,"754,823","708,014","131,275","65,842","1,659,954"
...,...,...,...,...,...,...,...,...,...,...,...
21489,2022-01-04,เพชรบุรี,3,เพชรบุรี,ตะวันตก,2022-01-04,"707,593","658,361","89,162","55,575","1,510,691"
21490,2022-01-04,เพชรบูรณ์,23,เพชรบูรณ์,กลาง,2022-01-04,"707,593","658,361","89,162","55,575","1,510,691"
21491,2022-01-04,เลย,5,เลย,ตะวันออกเฉียงเหนือ,2022-01-04,"707,593","658,361","89,162","55,575","1,510,691"
21492,2022-01-04,แพร่,10,แพร่,เหนือ,2022-01-04,"707,593","658,361","89,162","55,575","1,510,691"
21493,2022-01-04,แม่ฮ่องสอน,10,แม่ฮ่องสอน,เหนือ,2022-01-04,"707,593","658,361","89,162","55,575","1,510,691"

#โหลดข้อมูลออกไปใช้งาน

In [62]:
datacovid1.to_csv('datacovid1.csv',index=False)

In [63]:
datacovid2.to_csv('datacovid2.csv',index=False)